/************************************
              Baselines
************************************/
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    margin: 0;
    font: 18px/1.6em 'Quicksand', sans-serif;
    background: #000;
}

h1, h2, h3, h4 ,h5 ,h6 {
    margin: 0;
    padding:0;
}

::-moz-selection {
    background: #8ab1d0;
}

::selection {
    background: #8ab1d0;
}

/************************************
              Globals
************************************/
.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/************************************
         Project Page Styles
************************************/
/************************************
         Header & Navigation
************************************/
header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100px;
    padding: 1.4em 0;
	background: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-size: 16px;
}

.small-head {
    height: 65px;
    padding: .2em 0;;
    background: #000;
}

.flex-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header h1 a {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	padding: 2px 10px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.small-logo {
    font-size: 1.05em;
}

header h1 a span {
	color: #8ab1d0;
	font-weight: 700;
}

.flex-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

.flex-nav ul li {
    margin-left: 2.5em;
    color: #fff;
}

.flex-nav ul li.active,
.flex-nav ul li a:hover {
	color: #222;
	background: #fff;
	font-weight: 700;
}

.flex-nav ul li a {
	color: inherit;
	text-decoration: none;
	padding: .2em .4em;
}

.flex-nav ul li a {
	text-transform: uppercase;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/************************************
               Banner
************************************/
section#banner {
    color: #fff;
    background-image: url('../img/night-lights-01.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

section#banner h2 {
    font-size: 50px;
    line-height: 1.2;
    margin-top: 20vh;
}

section#banner p {
    font-size: 28px;
    line-height: 1.4;
    width: 65%;
    margin: 20px auto 0;
}

/************************************
       Main Content Background
************************************/
.project-background {
    padding: 0;
    background:
    radial-gradient(circle farthest-side at 0% 50%,#222 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,#333 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(#222 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#222 0)0 0,
    linear-gradient(150deg,#222 24%,#333 0,#333 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#333 0,#333 76%,#222 0)0 0,
    linear-gradient(30deg,#222 24%,#333 0,#333 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#333 0,#333 76%,#222 0)0 0,
    linear-gradient(90deg,#333 2%,#222 0,#222 98%,#333 0%)0 0 #222;
    background-size: 40px 60px;
    background-attachment: fixed;
    color: #fff;
    padding: 20px 0;
}

/************************************
       Main Content Layout
************************************/
.column-layout {
    padding: 2em 0;
}

.main-column {
    background: #8ab1d0;
    color: #fff;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    padding: 1em;
    margin-bottom: 1.5em;
}

.main-column h3 {
    color: #02122f;
}

.main-column img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
    -webkit-box-shadow: 0 0 25px 0 rgba(104, 20, 20, 0.45);
            box-shadow: 0 0 25px 0 rgba(104, 20, 20, 0.45);
}

.project-aside {
    color: #333;
    font-size: 1em;
    background: #eaeaea;
    -ms-flex-preferred-size: 28%;
        flex-basis: 28%;
    padding: 1em 1em;
}

.project-aside a {
    display: block;
    color: #fff;
    background: #8ab1d0;
    border: 2px solid #8ab1d0;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    width: 195px;
    padding: .5em 1em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.project-aside a span {
    margin-left: 1em;
}

.project-aside a:hover {
    color: #8ab1d0;
    background: transparent;
    border: 2px solid #8ab1d0;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    width: 60%;
    padding: .5em 1em;
}

.project-aside ul {
    list-style-type: none;
}

.project-aside ul li span {
    display: inline-block;
    color: #8ab1d0;
    margin-right: 1em;
    width: 1.1em;
    text-align: center;
}

/************************************
               Footer
************************************/
footer {
    background: #000;
    color: #ddd;
    font-size: 13px;
    height: 55px;
}

footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

footer ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    color: #ddd;
    border: 1px solid transparent;
    padding: .4em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

footer ul li a:hover,
footer ul li a:focus {
    color: #8ab1d0;
    border: 1px solid #fff;
}

/************************************
      Project Page Media Queries
************************************/
@media screen and (min-width: 960px) {
    .column-layout {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .main-column {
        margin-bottom: 0;
    }
}