/************************************
              Baselines
************************************/
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font: 18px/1.6em 'Quicksand', sans-serif;
    background: #000;
}

h1, h2, h3, h4 ,h5 ,h6 {
    margin: 0;
    padding:0;
}

/************************************
              Globals
************************************/
.container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/************************************
           Home Page Styles
************************************/
/************************************
         Header & Navigation
************************************/
header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100px;
    padding: 1.4em 0;
	background: transparent;
    transition: all .3s ease-in-out;
    font-size: 16px;
}

.small-head {
    height: 65px;
    padding: .2em 0;;
    background: #000;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;
	padding: 2px 10px;
	transition: all .3s ease-in-out;
}

.small-logo {
    font-size: 1.05em;
}

header h1 a span {
	color: #8ab1d0;
	font-weight: 700;
}

.flex-nav ul {
    display: flex;
    list-style-type: none;
}

.flex-nav ul li {
    margin-left: 2.5em;
}

.flex-nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: .2em .4em;
}

.flex-nav ul li a {
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}

.flex-nav ul li a:hover,
.flex-nav ul li a:focus {
	color: #222;
	background: #fff;
	font-weight: 700;
}

/************************************
                Hero
************************************/
section#hero {
    color: #fff;
    background-image: url('../img/night-lights-01.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#hero h2 {
    font-size: 50px;
    line-height: 1.2;
    margin-top: 30vh;
}

section#hero p {
    font-size: 20px;
}

/************************************
              My Image
************************************/
#myImg {
    display: block;
    margin: -130px auto;
    width: 260px;
    height: 260px;
    border: 5px solid #8ab1d0;
    border-radius: 50%;
}


/************************************
              About Me
************************************/
section#about {
    color: #222;
    background: #8ab1d0;
    padding-top: 100px;
}

section#about h2 {
    font-size: 2em;
}

section#about h2 span {
    color: #fff;
}

/************************************
              Portfolio
************************************/
#work,
.project-background {
    background:
    radial-gradient(circle farthest-side at 0% 50%,#222 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,#333 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(#222 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#222 0)0 0,
    linear-gradient(150deg,#222 24%,#333 0,#333 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#333 0,#333 76%,#222 0)0 0,
    linear-gradient(30deg,#222 24%,#333 0,#333 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#333 0,#333 76%,#222 0)0 0,
    linear-gradient(90deg,#333 2%,#222 0,#222 98%,#333 0%)0 0 #222;
    background-size: 40px 60px;
    color: #fff;
    padding: 80px 0 40px;
}

section#portfolio h2 {
    font-size: 2rem;
}

.portfolio-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.port-box {
    position: relative;
    width: 400px;
    height: 225px;
    background: #000;
    overflow: hidden;
}

.port-figure {
    width: 100%;
    height: 100%;
}

.port-figure img {
    width: 100%;
    transition: .5s;
}

.port-box:hover .port-figure img {
    transform: scale(1.3) rotate(-10deg);
    opacity: 0.5;
}

.port-caption {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.port-about {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 25px;
    text-align: center;
    opacity: 0;
    transition: .5s;    
}

.port-box:hover .port-about {
    opacity: 1;
}

.port-about h3 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-transform: uppercase;
}

.port-about p {
    color: #fff;
    margin: 20px 0 0;
    padding: 0;
    font-size: 18px;
}

.port-caption::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: .5s;
    transform: scale(0,1);
}

.port-box:hover .port-caption::before {
    transform: scale(1,1);
}

.port-caption::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    transition: .5s;
    transform: scale(1,0);
}

.port-box:hover .port-caption::after {
    transform: scale(1,1);
}

/************************************
              Contact
************************************/
section#contact {
    background: #eaeaea;
    padding: 80px 0 40px;
}

form {
    margin: 0 auto;
    width: 90%;
}

.field {
    position: relative;
    margin-bottom: 10px;
	width: 100%;
}

.field label {
    display: none;
}

.form-icon {
    color: #8ab1d0;
    position: absolute;
    font-size: 1.2em;
    top: 12px;
    left: 12px;
}

.formfield {
	color: #000; 
	background: #fff;
	border: none;
	padding: 12px 12px 12px 42px;
	width: 94%;
	display: block;
	font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-indent: 0px;
}

textarea {
    resize: none;
}

.btn {
	display: block;
	border: none;
	background: #8ab1d0;
	color: #fff;
	padding: 12px 25px;
	cursor: pointer;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: background .2s ease;
}
.btn:hover {
    background: #607b91;

}

/************************************
               Clients
************************************/
section#clients {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 0;
    color: #fff;
    padding: 80px 0 40px;
}

section#clients::after {
    content: '';
    background: url('../img/stars.jpg');
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-attachment: fixed;
    background-size: contain cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#clients h2 {
    margin-bottom: 1.2em;
}

.testimonials {
    margin-top: 1em;
    
}

.testimonial {
    width: 46%;
    padding: 1.2em;
    border: 3px solid #8ab1d0;
    float: left;
}

.testimonial:last-child {
    float: right;
}

.client-card img {
    display: block;
    width: 130px;
    height: 130px;
    border: 2px solid #8ab1d0;
    border-radius: 50%;
    float: left;
}

.client-card h3,
.client-card p {
    text-align: right;
    line-height: 1.2em;
}

.client-card p {
    margin-top: 0.25em;
    font-size: .85em;
}

.client-card p small {
    font-size: .85em;
}

/************************************
               Footer
************************************/
footer {
    background: #000;
    color: #ddd;
    font-size: 13px;
    height: 55px;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer ul li {
    margin-left: 20px;
}

footer ul li a {
    color: #ddd;
    border: 1px solid transparent;
    padding: .4em;
    transition: all .2s ease-in-out;
}

footer ul li a:hover,
footer ul li a:focus {
    color: #8ab1d0;
    border: 1px solid #fff;
}

/************************************
        Home Page Media Queries
************************************/
@media only screen and (max-width: 768px) {
    header {
        padding: 2em 0;
    }

    .small-head {
        height: 65px;
        padding: 1.2em 0;;
        background: #000;
    }
    
    .flex-nav {
		flex-direction: column;
        align-items: flex-start;
	}

	.flex-nav ul {
		flex-direction: column;
		align-items: center;
		background: rgba(138, 177, 208, .95);
		position: absolute;
		top: 75%;
		right: 0%;
		height: 0px;
		width: 100%;
		overflow: hidden;
		transition: height .35s ease-in-out;
	}

	.flex-nav ul.open {
		width: 100%;
		height: 600px;
	}	

	.flex-nav ul li {
        width: 120%;
		height: 150px;
        margin: 0;
		border-bottom: 1px solid rgba(34, 34, 34, .4);;
	}

	.flex-nav ul li a {
		display: block;
		font-size: 1.6em;
		font-weight: 700;
		padding: 62px;
	}

	.flex-nav ul li a:hover,
	.flex-nav ul li a:focus {
		color: #fff;
		background: rgba(34, 34, 34, .4);
	}

	/*
	Mobile Hambuger Styles
	*/
	#menu-toggle {
		padding: 1em;
		position: absolute;
		top: 30%;
		right: 0%;
		cursor: pointer;
		transition: .3s ease-in-out;
	}

	.hamburger,
	.hamburger::before,
	.hamburger::after {
		background: #8ab1d0;
		content: '';
		display: block;
		height: 3px;
		width: 1.5em;
		border-radius: 9px;
		transition: all ease-in-out .35s;
	}

	.hamburger::before {
		transform: translateY(-6px);
		background: #fff;
	}

	.hamburger::after {
		transform: translateY(3px);
		background: #fff;
	}

	.menu-toggle-open .hamburger {
		transform: rotate(45deg)
	}

	.menu-toggle-open .hamburger::before {
		opacity: 0;
	}

	.menu-toggle-open .hamburger::after {
		transform: translateY(-3px) rotate(-90deg);
	}
}


/************************************
        Project Page Styles
************************************/
/************************************
               Banner
************************************/
section#banner {
    color: #fff;
    background-image: url('../img/night-lights-01.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#banner h2 {
    font-size: 50px;
    line-height: 1.2;
    margin-top: 20vh;
}

section#banner p {
    font-size: 20px;
}

/************************************
       Main Content Background
************************************/
.project-background {
    padding: 0;
}

/************************************
       Main Content Layout
************************************/
.column-layout {
    padding: 2em 0;
}

.main-column {
    background: #8ab1d0;
    flex-basis: 70%;
    padding: 1em;
    margin-bottom: 1.5em;
}

.main-column img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;
}

.project-aside {
    color: #333;
    font-size: 1em;
    background: #eaeaea;
    flex-basis: 28%;
    padding: 1em 1em;
}

.project-aside a {
    display: block;
    color: #fff;
    background: #8ab1d0;
    border: 2px solid #8ab1d0;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    width: 195px;
    padding: .5em 1em;
    transition: all .2s ease-in-out;
}

.project-aside a span {
    margin-left: 1em;
}

.project-aside a:hover {
    color: #8ab1d0;
    background: transparent;
    border: 2px solid #8ab1d0;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin: 0 auto;
    width: 60%;
    padding: .5em 1em;
}

.project-aside ul {
    list-style-type: none;
}

.project-aside ul li span {
    display: inline-block;
    color: #8ab1d0;
    margin-right: 1em;
    width: 1.1em;
    text-align: center;
}

/************************************
      Project Page Media Queries
************************************/
@media screen and (min-width: 960px) {
    .column-layout {
        display: flex;
        justify-content: space-between;
    }
    .main-column {
        margin-bottom: 0;
    }
}